@{
    ViewBag.Title = "Home Page";
}

<br />  
<div class="jumbotron">
    <h1 align="center">Unique Perfections</h1>
    @*<p class="lead" align="center"> "I CAN DO ALL THINGS THROUGH CHRIST WHICH STRENGTHENETH ME."Philippians 4:13</p>*@
    <h2>Mission Statement</h2>
    <p>
        DONKAWAND PUBLICATIONS IS AN INDEPENDENT COMPANY THAT STRIDES TO PROVIDE QUALITY AND ENTERTAINING URBAN/STREET LITERATURE BY CREATING REALISTIC CHARACTERS THAT THE READERS CAN RELATE TO.
    </p>
    <p><a href="http://www.donkawand.com/Paperback-Store.html" class="btn btn-primary btn-lg">Paperback Store &raquo;</a></p>
</div>





<div class="row">
    <div class="col-md-4">
        <h2>Don Kawand Presents...</h2>
        <br />
            <img src="~/content/0_0_0_0_219_328_csupload_70302615.jpg" alt="Welcome to Hell cover" style="width:150px;height:230px; float: left;  margin-right: 15px; margin-bottom: 10px;" />
       
        <p >
            Welcome to Hell is a fictitious story of a young man named Tehell with NBA aspirations,
            who finds himself knee-deep in a life of drug selling and gang banging on the ugly streets
            of Coney Island after his father puts him out of the house for good. He hooks up with his cousin
            and gang member Rah who quickly takes him under the wing and schools him on how to survive on the
            violent streets of Brooklyn.
        </p>
        <p>
             After joining a gang he immediately realizes that the fast money and violence
            is not a game when his best friend is kidnapped, tortured and murdered. The pain sends him spiraling out of control
            as he seeks revenge on everyone involved in the death of the one person he loved the most.
            <br />
            <h3 align="center">Coming Soon!</h3>
            <br />
            <h4 align="left">Follow Author on Instagram: Ig_Yunghell89</h4>
           
        </p>

    </div>

    <br />
    <br />
    <br />
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>